<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/react_hot_assets' %>


	<header>
		<% if user_signed_in? %>
      <%= react_component('HeaderZal', { userName: current_user.email, avatar: current_user.avatar.url(:face) }) %>
		<% else %>
 			<%= react_component('Header', { }) %>
		<% end %>
	</header>

<div class="container">
<% if user_signed_in? %>
    <div class="col-md-10">
      <%= subscribe_to "/chatroom"  %>
      <script>
        PrivatePub.subscribe("/chatroom", function(data, channel){
          var current_user_id = <%= current_user.id %>;
          if (data.receiver_id == current_user_id){
            chatBox.chatWith(data.conversation_id);
          }
        });
      </script>
    <%= yield %>
    </div>
    <div class="col-md-2">
    <%= render 'layouts/chat' %>
    </div> 
<% else %>

    <%= yield %>

<% end %>


    <%= react_component('Footer', { }) %>
 </div>
  


</body>
</html>
